body {
    text-align: center;
    font-family: Arial, Helvetica;
    font-size: 1em;
}

#container {
    margin: 0 auto;
    width: 800px;
    text-align: left;
} 

#menu {
    text-align: left;
}

ul#menutabs {
    text-align: left;
    margin: 0;
    padding: 0
}

ul#menutabs li {
    display: block;
    float:left;
    margin: 5px;
}

ul#menutabs li form {
    float:right;
    padding: 0;
    margin: 0
}

#content {
    padding-top: 10px;
    clear: both;
    
}

.knowledgebox, .deliciousbox {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.knowledgebox code {
    display: block;
    background-color: #e7e7e7;
    padding: 5px;
    margin: 5 0 5 0;
}

#delicious table {
    font-size: 0.6em;
    font-family: Arial, Helvetica;
}

#delicious label {
    display: block;
    width: 100px;
    float: left;
}

#delicious h2 {
    background:#FFFFFF url(/images/delicious.20.gif) no-repeat scroll 0 2px;
    color:#000000;
    display:inline;
    margin-right:10px;
    min-height:20px;
    padding:0 5px 0 30px;
}

#knowledgeitemform label {
    width: 100px;
    display: block;
    float:left;
}